#ifndef JALOUSIE_CONFIG_H
#define JALOUSIE_CONFIG_H

#define WIFI_SSID "<WiFi Access Point name goes here>"
#define WIFI_PASSWORD "<Password goes here>"

#define COMMAND_PROVIDER_HOST "<command provider host>"
#define COMMAND_PROVIDER_PORT 8080
#define COMMAND_PROVIDER_PATH "/command-listener/"

#endif
